.slider-container {
  display: flex;
  transition: transform 300ms ease-in-out;
}

.slider-item {
  width: 100%;
  flex-shrink: 0;
}

#notify-bubble {
  transform: translateX(100%);
  opacity: 0;
}

.slide-in {
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.slide-out {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}