@import "tailwindcss";

.home {
  min-height: 500px;
  background: linear-gradient(270deg, rgba(41, 26, 139, 0.712) 0%, rgba(41, 8, 85, 0.594) 68%), url(/sfondo/crociera-caraibi.webp);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


.custom-bg-color-primary {
  background: rgb(42, 26, 139);
  background: linear-gradient(270deg, rgba(42, 26, 139, 1) 0%, rgba(41, 8, 85, 1) 68%, rgba(41, 8, 85, 1) 93%, rgba(41, 8, 85, 1) 100%);
}

.modal-custom-bg {
  background: rgb(42, 26, 139);
  background: linear-gradient(270deg, rgba(41, 26, 139, 0.4) 0%, rgba(41, 8, 85, 0.4) 68%, rgba(41, 8, 85, 0.2) 93%, rgba(41, 8, 85, 0.2) 100%);
}

.custom-teal-bg {
  background-color: #1afa72
}

.custom-teal-color {
  color: #1afa72
}

.no-select {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Standard */
}

.headbg {
  background: linear-gradient(270deg, rgba(41, 26, 139, 0.712) 0%, rgba(41, 8, 85, 0.594) 68%), url(/sfondo/crociera-caraibi.webp);
  background-size: cover;
  background-position: center;
}

.anchor-target {
  scroll-margin-top: 20vh;
}

.img-gallery {
  margin: 0 auto;
  height: 500px;
  object-fit: contain;
}

.images-g{
  aspect-ratio: 16/9;
  object-fit: cover;
}

.custom-gallery {
  background-color: #101828;
  padding: 1rem 3rem;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .img-gallery {
    height: 300px;
  }


}

.reviews-box {
  max-height: 150px;
  padding: 20px;
}

.reviews-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 3em;
}

@media screen and (max-width: 410px) {
  .like {
    flex-direction: column;
  }
}